<div class="container my-4">
  <h1 class="my-5">Most popular</h1>
  <div class="row">
    <div class="col-4 mb-3">
      <% game = Game.find(18) %>
      <%= link_to game_path(game), method: :get do %>
      <div class="card-trip">
        <%= image_tag game.image_url, alt: "alttext" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= game.title %></h2>
            <p><%= game.description %></p>
          </div>
          <h2 class="card-trip-rating"><%= '*' * game.rating %></h2>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-4 mb-3">
      <% game = Game.find(17) %>
      <%= link_to game_path(game), method: :get do %>
      <div class="card-trip">
        <%= image_tag game.image_url, alt: "alttext" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= game.title %></h2>
            <p><%= game.description %></p>
          </div>
          <h2 class="card-trip-rating"><%= '*' * game.rating %></h2>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <h1 class="my-5">All our games</h1>
  <div class="row">
    <% @games.order(:id).reverse.each do |game| %>
      <div class="col-4 mb-3">
        <%= link_to game_path(game), method: :get do %>
        <div class="card-trip">
          <%= image_tag game.image_url, alt: "alttext" %>
          <div class="card-trip-infos">
            <div>
              <h2><%= game.title %></h2>
              <p><%= game.description %></p>
            </div>
            <h2 class="card-trip-rating"><%= '*' * game.rating %></h2>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
