<div class="container my-4">
  <h1 class="game-title"><%= @game.title %></h1>
  <hr>
  <div class="game-area">
    <!-- <span class="game-id"><%= @game.title %></span> -->
    <canvas id="gameCanvas" width="800" height="600"></canvas>
    <% content_for :page_js do  %>
      <!-- <script><%# @game.code %></script> -->
    <% end %>
  </div>
  <%= link_to "Back", games_path, class: 'btn btn-primary btn-sm' %>
  <hr>
  <div id="comments" class="my-5">
    <h2 class="mb-3">Comments</h2>
    <% @game.comments.order(:id).each do |comment| %>
      <div class="card">
        <span class="p-2"><%= comment.content %> - <strong><%= comment.username %></strong></span>
      </div>
    <% end %>
  </div>
  <div id="add-comment" class="my-5 border p-3">
    <%= simple_form_for [@game, @comment] do |f| %>
      <%= f.input :username, label: false, placeholder: 'Username' %>
      <%= f.input :content, label: false, placeholder: 'Your comment goes here!' %>
      <%= f.button :submit, class: 'btn btn-secondary', value: 'Add comment' %>
    <% end %>
  </div>
</div>
